// home_banner

@media(max-width: 576px) {
  .responsive-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive-layout .col-first {
    order: 1;
    text-align: center;
  }

  .responsive-layout .col-second {
    order: 2;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
  }

  .info-name {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.horizontal-center {
  margin: auto;
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.header-box {
  width: 70px;
  height: 35px;
  background-color: #6BF178;
  color: #333;
  border-radius: 15px 15px 15px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.all-social {
  display: flex;
  gap: 10px;
  margin-top: 3%;
}

.one-social-media {
  text-decoration: none;
  color: inherit;
}

.one-social-media i {
  color: #333;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.avatar {
  width: 80%;
  max-width: 320px;
  height: auto;
  border-radius: 50%;
  border: #D9D9D9 18px solid ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// about_banner

.margin-about {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.center-icon {
  display: flex;
  align-self: center;
  flex-direction: column;
}

@media (max-width: 576px) {
  .center-icon {
    text-align: center;
    margin-bottom: 4rem;
  }
  .center-icon img {
    max-width: 50%;
    margin: 0 auto;
  }
}

.center-dev {
  display: block;
  margin-right: auto;
  max-width: 70%;
  height: auto;
}

.about {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.about-title {
  margin-bottom: 5%;
}

.about-text {
  margin-bottom: 5%;
}

.btn-cv {
  background-color: #D9D9D9;
  color: #333;
  padding: 10px 20px;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-cv:hover {
  background-color: #6BF178;
}

.btn-cv a {
  text-decoration: none;
  color:#333;
}

.btn-cv:hover a {
  color: white;
}

// Portfolio_banner

.header-title {
  display: flex;
  align-items: center;
}

.line-center {
  width: 100%;
  height: 2px;
  background-color: #6BF178;
  margin-left: 20px;
}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 1025px) {
  .grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .grid-cards {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px #D9D9D9;
  border-radius: 15px;
  transition: transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  display: block;
  border-radius: 15px 15px 0 0;
}

@media (max-width: 576px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    object-fit: cover;
  }
}

.tag-skills {
  background-color: #6BF178;
  color: #ffffff;
  padding: 0.2em 0.5em;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

.btn-line a {
  text-decoration: none;
  margin-top: auto;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.btn-line a span {
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.btn-line a:hover span {
  border-bottom-color: #6BF178;
}

// Skills_banner

.grid-tech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media(max-width: 1025px) {
  .grid-tech {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .grid-tech {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.technology {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology p {
  margin-top: 10px;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.technology img {
  max-height: 40%;
  max-width: 40%;
}

// Contact_banner

.email {
  text-decoration: none;
  color: #333;
}

.email:hover {
  color: #333;
}

.banner-contact {
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.banner-contact h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 2%;
  opacity: .7;
}

.banner-contact p {
  color: #ffffff;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 0;
}

.banner-contact {
  background-size: cover;
  background-position: center;
  padding: 50px;
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.banner-email {
  background-size: cover;
  background-position: center;
  padding: 80px;
}

  // Footer

.footer-align {
  text-align: right;
  background-color: #D9D9D9; /* establece el color de fondo del footer */
  padding: 10px; /* agrega un relleno alrededor del contenido del footer */
}

.footer-align p {
  font-size: 12px;
  margin: 0; /* elimina el margen predeterminado del párrafo dentro del footer */
}
