// Specific CSS for your home-page

.rectangle {
  width: 70px;
  height: 35px;
  background-color: #D9D9D9;
  border-radius: 15px 15px 15px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.center {
  margin: auto;
  width: 50%;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 3%;
}

.social-link {
  text-decoration: none;
  color: inherit;
}

.social-link i {
  color: #333;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.avatar {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: #D9D9D9 18px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my-button {
  background-color: #D9D9D9;
  color: #333;
  padding: 10px 20px;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out; /* Agrega esta propiedad para suavizar la transición */
}

.my-button:hover {
  background-color: #6BF178;
}

.my-button a {
  text-decoration: none;
  color:#333;
}

.my-button:hover a {
  color: white;
}

.btn-cv {
  width: 150px;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 15px 15px 15px 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.center-dev {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 55%;
  height: auto;
}

.card {
  width: 20rem;
  height: 28rem;
  border: 1px #D9D9D9;
  border-radius: 15px;
  transition: transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.kills {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.tag-skills {
  background-color: #6BF178;
  color: #ffffff;
  padding: 0.2em 0.5em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.links a{
  text-decoration: none;
  color: #333;
  font-size: 14px;
  border-bottom: 2px solid transparent; /* Agrega un borde inferior transparente al botón */
}


.links a:hover {
  border-bottom-color: #6BF178; /* Cambia el color del borde inferior a #333 cuando el cursor está sobre el botón */
}
