<div class="container-fluid margin-about" id="about">
  <div class="row">

    <div class="col-12 col-sm-4 center-icon">
      <%= image_tag("dev-icon.png", class: "center-dev") %>
    </div>

    <div class="col-12 col-sm-8 about">
      <h2 class="about-title"><strong>About me</strong></h2>
      <div class="about-text">
        <p>Developer with background in Business Administration, professional with solid knowledge of programming languages and frameworks.</p>
        <p>Exceptional proficiency in creating optimal algorithms, ability to solve complex problems and debug code, with passion and motivation for web development and building high-quality digital solutions.</p>
        <p style="margin-bottom: 0px;">Organized, committed, and perseverant are three adjectives that describe me well.</p>
      </div>
      <div class="btn-cv">
        <strong><%= link_to "Download Resume", download_cv_path %></strong>
      </div>
    </div>

  </div>
</div>
