<div class="banner-contact" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "business-banner.jpg" %>);">
  <div class="text-center flex flex-col items-center">
    <h2><strong> Let's stay in contact</strong></h2>
    <p>Thank you for taking the time to visit my portfolio. I hope you found it enjoyable and informative. Please feel free to reach out to me if you have any questions or would like to discuss potential opportunities. I appreciate your interest and look forward to connecting with you.</p>
  </div>
</div>
