<h1>Let's stay in contact</h1>
<p>Thank you for taking the time to visit my portfolio. I hope you found it enjoyable and informative. Please feel free to reach out to me if you have any questions or would like to discuss potential opportunities. I appreciate your interest and look forward to connecting with you</p>

<p>Send me a message</p>
<p>jeanpieeraguilar@gmail.com</p>
<%= image_tag("email-icon.png", width:"100px") %>
