<div id="contact" class="banner-email" style="background-color: white;">
  <div class="text-center flex flex-col items-center mx-auto relative">
    <%= image_tag("email-icon.png", width:"100px") %>
    <h6>Send me a message</h6>
    <strong><%= mail_to "jeanpieeraguilar@gmail.com", class:"email"%></strong>
  </div>
</div>
