<div class="container" id="home">
  <div class="row">
    <div class="col center">
      <div class="rectangle">
        <strong>Hi, It's</strong>
      </div>
        <h1 style="margin-bottom: 0px;"><strong>Jean Pieer</strong></h1>
        <h4 style="margin-bottom: 0px;">Full - Stack Developer</h4>
      <div class="social-links">
        <a class="social-link" href="https://www.linkedin.com/in/pjeanpieer" target="_blank">
          <span class="circle">
            <i class="fab fa-linkedin-in"></i>
          </span>
        </a>
        <a class="social-link" href="https://github.com/pjeanpieer" target="_blank">
          <span class="circle">
            <i class="fab fa-github-alt"></i>
          </span>
        </a>
        <a class="social-link" href="mailto:jeanpieeraguilar@gmail.com" target="_blank">
          <span class="circle">
            <i class="fas fa-envelope"></i>
          </span>
        </a>
        <a class="social-link" href="https://twitter.com/pjeanpieer" target="_blank">
          <span class="circle">
            <i class="fab fa-twitter"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col">
      <%= image_tag("profile.png", class: "avatar") %>
    </div>
  </div>
</div>
