
<% my_social_medias = [
    {
      name: "LinkedIn",
      url: "https://www.linkedin.com/in/pjeanpieer",
      icon_class: "fab fa-linkedin-in"
      },
    {
      name: "GitHub",
      url: "https://github.com/pjeanpieer",
      icon_class: "fab fa-github-alt"
      },
    {
      name: "Email",
      url: "mailto:jeanpieeraguilar@gmail.com",
      icon_class: "fas fa-envelope"
      },
    {
      name: "Twitter",
      url: "https://twitter.com/pjeanpieer",
      icon_class: "fab fa-twitter"
      }
  ]
%>

<div class="container-fluid responsive-layout my-5" id="home">
  <div class="row">
    <div class="col-12 col-sm-6 col-second responsive-layout horizontal-center">
      <div class="header-box">
        <strong>Hi, It's</strong>
      </div>
      <div class="info-name">
        <h1 style="margin-bottom: 0px;"><strong>Jean Pieer</strong></h1>
        <h4 style="margin-bottom: 0px;">Full - Stack Developer</h4>
      </div>
      <div class="all-social">
        <% my_social_medias.each do |link| %>
          <a class="one-social-media" href="<%= link[:url] %>" target="_blank">
            <span class="circle">
              <i class="<%= link[:icon_class] %>"></i>
            </span>
          </a>
        <% end %>
      </div>
    </div>
  <div class="col-12 col-sm-6 col-first responsive-layout">
      <%= image_tag("profile.png", class: "avatar") %>
    </div>
  </div>
</div>
