<div class="container">
  <div class="row">
    <div class="col">
      <h4>Hi, It's</h4>
      <h1><strong>Jean Pieer</strong> </h1>
      <h4>Full Stack Developer</h4>
      <i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-github"></i> <i class="fa-solid fa-square-envelope"></i> <i class="fa-brands fa-square-twitter"></i>
    </div>
    <div class="col">
      <%= image_tag("profile.png", class: "avatar") %>
    </div>
  </div>
