<p>Hi, there!</p>
<h1>I'm Jean Pieer</h1>
<p>Full Stack Developer</p>
<i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-square-github"></i> <i class="fa-solid fa-square-envelope"></i> <i class="fa-brands fa-square-twitter"></i>
<%= image_tag("profile.jpg", width:"300px") %>
