<h1>Projects</h1>
<%= image_tag("rent-games.png", width:"100px") %>
<a href="https://github.com/hurikzamith/rent-games" target="_blank"><i class="btn-git fa-brands fa-github"></i></a>

<%= image_tag("music-booking.png", width:"100px") %>
<a href="https://github.com/abValle/music-booking" target="_blank"><i class="btn-git fa-brands fa-github"></i></a>
