<h1>Projects</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <%= image_tag("rent-games.png", width:"100%") %>
        <div class="card-body">
          <h5 class="card-title">RentGames</h5>
          <p class="card-text"> Site that connects board game lovers who want to play new and exciting games without spending a fortune.</p>
          <span class="badge rounded-pill bg-success">HTML</span>
          <span class="badge rounded-pill bg-success">CSS</span>
          <span class="badge rounded-pill bg-success">JavaScript</span>
          <span class="badge rounded-pill bg-success">Ruby on Rails</span>
          <span class="badge rounded-pill bg-success">Github</span>
          <a href="https://rent-games.herokuapp.com/" class="btn btn-primary" target="_blank">Visit site</a>
          <a href="https://github.com/hurikzamith/rent-games" class="btn btn-primary" target="_blank">See Full Code</a>
        </div>
      </div>


    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <%= image_tag("music-booking.png", width:"100%") %>
        <div class="card-body">
          <h5 class="card-title">MusicBooking</h5>
          <p class="card-text"> A browser that is able to connect companies seeking musicians or artists with those who want to work</p>
          <span class="badge rounded-pill bg-success">HTML</span>
          <span class="badge rounded-pill bg-success">CSS</span>
          <span class="badge rounded-pill bg-success">JavaScript</span>
          <span class="badge rounded-pill bg-success">Ruby on Rails</span>
          <span class="badge rounded-pill bg-success">Github</span>
          <a href="https://musicbooking.herokuapp.com/" class="btn btn-primary" target="_blank">Visit site</a>
          <a href="https://github.com/abValle/music-booking" class="btn btn-primary" target="_blank">See Full Code</a>
        </div>
      </div>
    </div>
  </div>
</div>
