<h1>Projects</h1>

<%= image_tag("rent-games.png", width:"100px") %>
<h1>RentGames</h1>
<p>Site that connects board game lovers who want to play new and exciting games without spending a fortune</p>
<p>HTML CSS JavaScript Ruby on Rails Github</p>
<a href="https://github.com/hurikzamith/rent-games" target="_blank">See Full Code</a>

<%= image_tag("music-booking.png", width:"100px") %>
<h1>MusicBooking</h1>
<p>A browser that is able to connect companies seeking musicians or artists with those who want to work</p>
<p>HTML CSS JavaScript Ruby on Rails Github</p>
<a href="https://github.com/abValle/music-booking" target="_blank">See Full Code</a>
