<h1>Skills</h1>

<% technologies = [
     { name: "HTML5", image: "html5-logo.png", size: "50px" },
     { name: "CSS3", image: "css3-logo.png", size: "50px" },
     { name: "Javascript", image: "javascript-logo.png", size: "50px" },
     { name: "React", image: "react-logo.webp", size: "50px" },
     { name: "Python", image: "python-logo.png", size: "50px" },
     { name: "Bootstrap", image: "bootstrap-logo.png", size: "50px" },
     { name: "Figma", image: "figma-logo.png", size: "50px" },
     { name: "Heroku", image: "heroku-logo.webp", size: "50px" },
     { name: "Postgresql", image: "postgresql-logo.png", size: "50px" },
     { name: "Rails", image: "ruby-on-rails-logo.png", size: "50px" },
     { name: "Sass", image: "sass-logo.png", size: "50px" },
     { name: "Docker", image: "docker-logo.png", size: "50px" },
     { name: "Github", image: "github-logo.png", size: "50px" }
   ]
%>

<div class="row">
  <% technologies.each_with_index do |technology, index| %>
    <div class="col-md-2">
      <%= image_tag(technology[:image], width: technology[:size]) %>
      <p><%= technology[:name] %></p>
    </div>
    <% if (index + 1) % 6 == 0 %>
      </div><div class="row">
    <% end %>
  <% end %>
</div>
