
<% technologies = [
     { name: "HTML5", image: "html5-logo.png"},
     { name: "CSS3", image: "css3-logo.png"},
     { name: "Javascript", image: "javascript-logo.png"},
     { name: "React", image: "react-logo.webp"},
     { name: "Angular", image: "angular-logo.png"},
     { name: "Python", image: "python-logo.png"},
     { name: "Bootstrap", image: "bootstrap-logo.png"},
     { name: "Heroku", image: "heroku-logo.webp"},
     { name: "Postgresql", image: "postgresql-logo.png"},
     { name: "Rails", image: "ruby-on-rails-logo.png"},
     { name: "Sass", image: "sass-logo.png"},
     { name: "Docker", image: "docker-logo.png"},
     { name: "Github", image: "github-logo.png"},
     { name: "Figma", image: "figma-logo.png"},
   ]
%>

<div class="container-fluid mt-5" id="skills">
  <div class="header-title">
    <h2><strong>Skills</strong></h2>
    <div class="line-center"></div>
  </div>
  <div class="grid-tech mt-5 mb-5">
    <% technologies.each do |technology| %>
      <div class="technology">
        <%= image_tag(technology[:image]) %>
        <p><%= technology[:name] %></p>
      </div>
    <% end %>
  </div>
</div>
